html,
.App {
    /* background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; */
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(260deg, rgba(255, 255, 255, 1) 0%, rgba(54, 123, 255, 0.3874592073157388) 100%);
    background: -webkit-linear-gradient(260deg, rgba(255, 255, 255, 1) 0%, rgba(54, 123, 255, 0.3874592073157388) 100%);
    background: linear-gradient(260deg, rgba(255, 255, 255, 1) 0%, rgba(54, 123, 255, 0.3874592073157388) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#367bff", GradientType=1);
}

.App {
    text-align: center;
}

#postContainer {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@import url('https://fonts.googleapis.com/css?family=Gabriela');

#text {
    font-family: Gabriela, serif;
    text-align: left;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.49);
    /* background-color: rgb(84, 84, 84); */
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

#filled-basic {
    border-radius: 10px;
}

.btnT {
    background-color: rgba(128, 128, 128, 0.167);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#containerComment {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#replyIcon:hover {
    color: #002e3b;
    text-decoration: underline;
    cursor: pointer;
}


#inner32 {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 3px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 1%;
}